@use "../variables/v-typografy.scss" as typografy;
@use "../variables/v-colors.scss" as colors;
@use "../variables/v-breakpoints.scss" as media;
@use "../mixins/sections.scss" as _mixins;

.footer-container {
  margin-top: 20vh;
  background: {
    image: url("../../../assets/imgs/sections/footer/bg_pc_footer.jpg");
    repeat: no-repeat;
  }
  h3 {
    @include _mixins.section-title(
      typografy.$font-html,
      typografy.$text-display
    );
    margin-top: -1%;
    margin-left: 2%;
    color: colors.$secondary-light;
    align-self: flex-start;
  }
}

.footer-rss {
  display: flex;
  align-items: center;
  justify-content: space-around;
  img{
    margin-bottom: 3vh;
    width: 100px;
  }
}

/* MEDIA QUERIES */

@media screen and (min-width: media.$large-laptop-breakpoint) {
  #footer {
    h3 {
      font-size: typografy.$text-display-lg;
    }
  }
}

@media screen and (min-width: media.$xl-laptop-breakpoint) {
  #footer {
    h3{
      font-size: typografy.$text-display-xl;
    }
  }
}
