@use "../variables/v-typografy.scss" as typografy;
@use "../variables/v-colors.scss" as colors;
@use "../variables/v-breakpoints.scss" as media;
@use "../mixins/sections.scss" as _mixins;

.footer-container {
  margin-top: 20vh;
  border-radius: 20px 20px 0 0;
  box-shadow: -7px -7px 14px #5a5a5a, 7px 7px 14px #ffffff;
  background: {
    image: url("../../../assets/imgs/sections/footer/bg_pc_footer.jpg");
    repeat: no-repeat;
    size: cover;
  }
  h3 {
    @include _mixins.section-title(
      typografy.$font-html,
      typografy.$text-headline
    );
    margin-top: -1%;
    margin-left: 2%;
    color: colors.$secondary-light;
    align-self: flex-start;
  }
}

.footer-rss {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  a {
    width: fit-content;
    margin-bottom: 3vh;
    text-align: center;
    text-decoration: none;
    img {
      width: 70%;
    }
    p {
      color: colors.$primary-light;
      font-family: typografy.$font-body-boldItalic;
      font-size: 4px;
      margin: 0;
      z-index: 1;
    }
  }
}

/* MEDIA QUERIES */

@media screen and (min-width: media.$mobile-breakpoint) {
  .footer-rss {
    a {
      font-size: typografy.$text-base;
      img {
        width: 100px;
      }
      p{
        font-size: typografy.$text-base-s;
      }
    }
  }
}

@media screen and (min-width: media.$large-laptop-breakpoint) {
  #footer {
    h3 {
      font-size: typografy.$text-display-lg;
    }
  }
}

@media screen and (min-width: media.$xl-laptop-breakpoint) {
  #footer {
    h3 {
      font-size: typografy.$text-display-xl;
    }
  }
}
