@use "../variables/v-typografy.scss" as typografy;
@use "../variables/v-colors.scss" as colors;
@use "../variables/v-breakpoints.scss" as media;
@use "../mixins/sections.scss" as _mixins;

#header-section {
  margin: auto auto;
  margin-top: 3vh;
  width: 98vw;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  gap: 2rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.2), inset -2px -2px 20px (#d5d6d8);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  img {
    filter: drop-shadow(5px 0px 5px rgba(0, 0, 0, 0.2));
  }
  h1 {
    margin-left: 2%;
    color: colors.$primary-1;
    font-size: typografy.$text-display-xs;
    font-family: typografy.$font-title;
    filter: drop-shadow(5px 0px 5px rgba(0, 0, 0, 0.2));
    span {
      color: colors.$primary;
      filter: none;
    }

    &:first-of-type:before {
      @include _mixins.header-h1-first();
    }

    &:nth-of-type(1):after {
      @include _mixins.header-h1-second();
    }
  }

  img {
    margin: auto auto;
    width: 50%;
  }
}

@media screen and (min-width: media.$s-mobile-breakpoint) {
  #header-section {
    h1 {
      font-size: typografy.$text-display-s;
    }

    img {
      width: auto;
      margin: auto auto;
    }
  }
}

@media screen and (min-width: media.$tablet-breakpoint) {
  #header-section {
    h1 {
      font-size: typografy.$text-display-md;
    }
  }
}

@media screen and (min-width: media.$laptop-breakpoint) {
  #header-section {
    h1 {
      font-size: typografy.$text-display-lg;
    }
  }
}

@media screen and (min-width: media.$large-laptop-breakpoint) {
  #header-section {
    h1 {
      font-size: typografy.$text-display-xl;
    }
  }
}
