@use "../variables/v-typografy.scss" as typografy;
@use "../variables/v-colors.scss" as colors;
@use "../variables/v-breakpoints.scss" as media;
@use "../mixins/sections.scss" as _mixins;

#skills-section {
  min-height: 100vh;
  width: 100%;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;

  .btn-navigator {
    @include _mixins.btn-navigator();
    opacity: 0;
    animation: fadeInY 1s ease-in-out;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
  }

  .skill-section-title {
    opacity: 0;
    animation: fadeInY 1s ease-in-out;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-delay: 0.5s;

    span {
      @include _mixins.span-h2();
    }
    h2 {
      @include _mixins.section-title();
    }
  }

  .skills-container {
    flex-grow: 1;
    /*     min-height: 40vh; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    article {
      padding-left: 5px;
      padding-right: 5px;
      align-self: flex-start;
      opacity: 0;
      animation: fadeInY 1s ease-in-out;
      animation-fill-mode: forwards;
      -webkit-animation-fill-mode: forwards;
      animation-delay: 1s;
      p {
        @include _mixins.section-p();
        margin-bottom: 2vh;
        color: colors.$primary-1;

        &:first-of-type::before {
          @include _mixins.section-p-first();
        }

        &::after {
          @include _mixins.section-p-second();
        }
        span {
          font-family: typografy.$font-body-boldItalic;
          color: colors.$primary;
        }
      }
      span {
        @include _mixins.span-h2();
      }
      h3 {
        @include _mixins.section-title();
        margin-left: 0;
        font-size: clamp(40px, 6vw, 80px);
      }
    }
  }
}
/* SKILLS LIST */
.skills-list {
  margin-left: 1%;
  display: flex;
  align-items: flex-start;
  gap: 2rem;

  .skills-list-front,
  .skills-list-back {
    ul {
      font-family: typografy.$font-body-boldItalic;
      font-size: typografy.$text-base-xs;
      color: colors.$primary-light;
      margin-top: 2vh;
      margin-bottom: 2vh;
    }
  }
  .skills-list-back {
    margin: 0 auto auto auto;
  }
}

/* SKILLS ICONS */
.skills {
  @include _mixins.section(url("../../../assets/imgs/backgrounds/slashes.jpg"));
  background: {
    attachment: fixed;
  }
  flex-grow: 1;
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
}

.btn-skill {
  background-color: transparent;
  border: none;
  img {
    cursor: pointer;
    //width: 5vw;
    width: clamp(80px, 8vw, 150px);
  }
}

.container-html-skill {
  grid-area: 1 / 1 / 2 / 3;
  align-self: center;
  justify-self: center;
}

.container-css-skill {
  grid-area: 1 / 2 / 2 / 4;
  align-self: center;
  justify-self: center;
}

.container-js-skill {
  grid-area: 2 / 2 / 3 / 3;
  align-self: center;
  justify-self: center;
}

.container-sass-skill {
  grid-area: 1 / 3 / 2 / 5;
  align-self: center;
  justify-self: center;
}

.container-react-skill {
  grid-area: 2 / 3 / 3 / 4;
  align-self: center;
  justify-self: center;
}

.container-typescript-skill {
  grid-area: 3 / 1 / 4 / 3;
  align-self: center;
  justify-self: center;
}

.container-nodejs-skill {
  grid-area: 3 / 2 / 4 / 4;
  align-self: center;
  justify-self: center;
}

.container-git-skill {
  grid-area: 3 / 3 / 4 / 5;
  align-self: center;
  justify-self: center;
}

#html-skill:hover {
  @include _mixins.btn-hover(
    url("../../../assets/imgs/iconos_languages/html_hover.png")
  );
}
#css-skill:hover {
  @include _mixins.btn-hover(
    url("../../../assets/imgs/iconos_languages/css_hover.png")
  );
}
#js-skill:hover {
  @include _mixins.btn-hover(
    url("../../../assets/imgs/iconos_languages/js_hover.png")
  );
}
#react-skill:hover {
  @include _mixins.btn-hover(
    url("../../../assets/imgs/iconos_languages/react_hover.png")
  );
}
#git-skill:hover {
  @include _mixins.btn-hover(
    url("../../../assets/imgs/iconos_languages/git_hover.png")
  );
}
#sass-skill:hover {
  @include _mixins.btn-hover(
    url("../../../assets/imgs/iconos_languages/sass_hover.png")
  );
}
#nodejs-skill:hover {
  @include _mixins.btn-hover(
    url("../../../assets/imgs/iconos_languages/nodejs_hover.png")
  );
}
#typescript-skill:hover {
  @include _mixins.btn-hover(
    url("../../../assets/imgs/iconos_languages/typescript_hover.png")
  );
}

/* MEDIA QUERIES */

@media screen and (min-width: media.$large-laptop-breakpoint) {
  #skills-section {
    .skills-container {
      flex-direction: row;
      justify-content: space-between;
      gap: 1rem;
      article {
        width: 50%;
      }
    }
  }
}
