@use "../variables/v-typografy.scss" as typografy;
@use "../variables/v-colors.scss" as colors;
@use "../variables/v-breakpoints.scss" as media;

@mixin header-h1-first(
  $color: colors.$secondary-light,
  $font: typografy.$font-html
) {
  content: "<h1>";
  font-size: typografy.$text-headline;
  color: $color;
  font-family: $font;
}

@mixin header-h1-second(
  $color: colors.$secondary-light,
  $font: typografy.$font-html
) {
  content: "</h1>";
  font-size: typografy.$text-headline;
  color: $color;
  font-family: $font;
  position: relative;
  left: 2%;
}

@mixin section($url) {
  background: $url center;
  background: {
    size: cover;
    repeat: no-repeat;
    attachment: fixed;
  }
  border-radius: 20px;
  height: 70vh;
  width: 98vw;
  margin: auto auto;
  padding: 5px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  box-shadow:  -12px 12px 24px rgb(98, 98, 98),
  12px -12px 24px rgb(255, 255, 255);
}

@mixin span-h2($color: colors.$secondary-light, $font: typografy.$font-html) {
  color: $color;
  font-family: $font;
  margin-left: 1.5%;
  position: relative;

  &:nth-last-of-type(1) {
    bottom: 2%;
    left: -1%;
  }
  &:nth-last-of-type(2) {
    top: 3%;
    left: -1%;
  }
}

@mixin section-title(
  $font: typografy.$font-title,
  $fontSize: typografy.$text-headline
) {
  font-family: $font;
  font-size: $fontSize;
  color: colors.$primary;
  opacity: 0.5;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 2%;
}

@mixin section-p(
  $font: typografy.$font-body-boldItalic,
  $fontSize: typografy.$text-base-xs
) {
  margin: 0;
  margin-left: 1%;
  font-family: $font;
  font-size: $fontSize;
}

@mixin section-p-first(
  $color: colors.$secondary-light,
  $font: typografy.$font-html
) {
  content: "<p>";
  color: $color;
  font-family: $font;
  position: relative;
}

@mixin section-p-second(
  $color: colors.$secondary-light,
  $font: typografy.$font-html
) {
  content: "<p>";
  color: $color;
  font-family: $font;
  float: inline-end;
  position: relative;
  left: 2%;
}

@mixin glassmorphism() {
  width: 300px;
  min-height: 400px;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.4px);
  -webkit-backdrop-filter: blur(4.4px);
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: inset 2px 2px 4px rgba(162, 162, 162, 0.3),
    inset -2px -2px 4px rgba(190, 190, 190, 0.3);
  text-align: center;
  color: colors.$primary-light;
  font-family: typografy.$font-body-bold;
  font-size: typografy.$text-note;
}
