@use '../variables/v-colors.scss' as colors;
@use '../variables/v-typografy.scss' as typografy;

.modal-container {
  color: colors.$primary-light;
  font-family: typografy.$font-body-boldItalic;
  background-image: linear-gradient(
    to right top,
    #004d7a,
    #005a87,
    #006894,
    #0076a1,
    #0096bc,
    #00b8d2,
    #30d9e4,
    #5ffbf1
  );
  h1 {
    font-family: typografy.$font-title;
    color: colors.$primary;
  }
  ul {
    font-size: clamp(12px, 2vw, 22px);
    strong {
      font-family: typografy.$font-title;
      color: colors.$primary-4;
    }
  }
}
