@use "../variables/v-typografy.scss" as typografy;
@use "../variables/v-colors.scss" as colors;
@use "../variables/v-breakpoints.scss" as media;
@use "../mixins/sections.scss" as _mixins;

#aboutme-section {
  margin-top: 5vh;
}

.aboutme-container {
  @include _mixins.section(
    url("../../../assets/imgs/sections/aboutme/aboutme.png")
  );
  article {
    color: colors.$primary-light;
    span {
      @include _mixins.span-h2();
    }
    h2 {
      @include _mixins.section-h2();
    }
    p {
      @include _mixins.section-p();

      &:first-of-type::before {
        @include _mixins.section-p-first();
      }

      &:last-child::after {
        @include _mixins.section-p-second();
      }
    }
  }
  img {
    width: 400px;
  }
}

@media screen and (min-width: media.$mobile-breakpoint) {
  #aboutme-section {
    height: 75vh;
    img{
      width: 60%;
    }
  }

}

@media screen and (min-width: media.$laptop-breakpoint) {
  #aboutme-section {
    img {
      width: 700px;
    }
  }
}

@media screen and (min-width: media.$large-laptop-breakpoint) {
  #aboutme-section {
    height: 65vh;
    flex-direction: row;
    justify-content: space-between;
    article {
      padding-left: 5px;
      padding-right: 5px;
      align-self: flex-start;
      width: 40%;
      h2 {
        margin-top: 0;
        font-size: typografy.$text-headline-lg;
      }
      p {
        font-size: typografy.$text-base-lg;
      }
    }
    img {
      margin: auto auto;
    }
  }
}

@media screen and (min-width: media.$xl-laptop-breakpoint) {
  #aboutme-section {
    gap: 8vw;
    article {
      p {
        align-self: start;
        font-size: typografy.$text-base-xl;
      }
    }
  }
}
