@use "../variables/v-typografy.scss" as typografy;
@use "../variables/v-colors.scss" as colors;
@use "../variables/v-breakpoints.scss" as media;
@use "../mixins/sections.scss" as _mixins;

#aboutme-section {
  width: 100%;
  margin: auto auto;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4rem;
  span {
    @include _mixins.span-h2();
  }
  h2 {
    @include _mixins.section-title();
    width: 100%;
    margin-left: 8%;
    font-size: clamp(60px, 6vw, 94px);
  }
  .aboutme-container-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    img {
      width: clamp(400px, 100%, 900px);
    }
    article {
      flex-grow: 1;
      background: url("../../../assets/imgs/sections/aboutme/aboutme.jpg")
        center;
      background: {
        size: cover;
        repeat: no-repeat;
        attachment: fixed;
      }
      color: colors.$primary-light;
      border-radius: 20px;
      box-shadow: -4px 4px 8px rgb(98, 98, 98), 4px -4px 8px rgb(98, 98, 98);

      p {
        @include _mixins.section-p();
        font-size: clamp(12px, 3vw, 22px);

        &:first-of-type::before {
          @include _mixins.section-p-first();
        }

        &:last-child::after {
          @include _mixins.section-p-second();
        }
      }
    }
  }
}

/* MEDIA QUERIES */

@media screen and (min-width: media.$large-laptop-breakpoint) {
  #aboutme-section {
    .aboutme-container-body {
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;

      article {
        padding-left: 5px;
        padding-right: 5px;
        p {
          font-size: clamp(12px, 2vw, 22px);
        }
      }
    }
  }
}
