@use "../variables/v-typografy.scss" as typografy;
@use "../variables/v-colors.scss" as colors;
@use "../variables/v-breakpoints.scss" as media;
@use "../mixins/sections.scss" as _mixins;

/* url("../../../assets/imgs/sections/skills/stones.jpg") */
.skills-container {
  @include _mixins.section(url("../../../assets/imgs/backgrounds/slashes.jpg"));
  flex-direction: column;
  article {
    color: colors.$primary-light;
    padding-left: 5px;
    padding-right: 5px;
    align-self: flex-start;
    span {
      @include _mixins.span-h2();
    }
    h2 {
      @include _mixins.section-title();
    }
    p {
      @include _mixins.section-p();

      &:first-of-type::before {
        @include _mixins.section-p-first();
      }

      &:last-child::after {
        @include _mixins.section-p-second();
      }
    }
  }
}

#skills-section {
  margin-top: 20vh;
}

.skills {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
  margin: auto auto;
}

.btn-skill {
  background-color: transparent;
  border: none;
  img {
    cursor: pointer;
    width: 80px;
  }
}

.container-html-skill {
  grid-area: 1 / 1 / 2 / 3;
  align-self: center;
  justify-self: center;
}

.container-css-skill {
  grid-area: 1 / 2 / 2 / 4;
  align-self: center;
  justify-self: center;
}

.container-js-skill {
  grid-area: 2 / 2 / 3 / 3;
  align-self: center;
}

.container-react-skill {
  grid-area: 1 / 3 / 2 / 5;
  align-self: center;
  justify-self: center;
}

.container-git-skill {
  grid-area: 2 / 3 / 3 / 4;
  align-self: center;
}

#html-skill:hover {
  background-image: url("../../../assets/imgs/iconos_languages/html_hover.png");
  background-size: contain;
  background-repeat: no-repeat;
}
#css-skill:hover {
  background-image: url("../../../assets/imgs/iconos_languages/css_hover.png");
  background-size: contain;
  background-repeat: no-repeat;
}
#js-skill:hover {
  background-image: url("../../../assets/imgs/iconos_languages/js_hover.png");
  background-size: contain;
  background-repeat: no-repeat;
}
#react-skill:hover {
  background-image: url("../../../assets/imgs/iconos_languages/react_hover.png");
  background-size: contain;
  background-repeat: no-repeat;
}
#git-skill:hover {
  background-image: url("../../../assets/imgs/iconos_languages/git_hover.png");
  background-size: contain;
  background-repeat: no-repeat;
}

/* MEDIA QUERIES */

@media screen and (min-width: media.$s-mobile-breakpoint) {
  #skills-section{
    p{
      font-size: typografy.$text-base-s;
    }
  }
}

@media screen and (min-width: media.$mobile-breakpoint) {
  #skills-section {
    height: 75vh;
    p{
      font-size: typografy.$text-base;
    }
  }
  .btn-skill{
    img{
      width: auto;
    }
  }
}

@media screen and (min-width: media.$tablet-breakpoint) {
  .btn-skill{
    img{
      width: auto;
    }
  }
}

@media screen and (min-width: media.$large-laptop-breakpoint) {
  #skills-section {
    height: 65vh;
    flex-direction: row;
    justify-content: space-between;
    article {
      h2 {
        margin-top: 0;
        font-size: typografy.$text-headline-lg;
      }
      p {
        font-size: typografy.$text-base-lg;
      }
    }
  }
  .skills{
    margin-left: 15%;
  }
  .btn-skill{
    img{
      width: 110px;
    }
  }
}

@media screen and (min-width: media.$xl-laptop-breakpoint) {
  #work-section {
    article {
      p {
        font-size: typografy.$text-base-xl;
      }
    }
  }
}
